.menu{
    display: grid;
    grid-template-columns: 2fr 2fr;
    border-bottom: 1px solid $gray;
    padding: 1% 0;
    margin: 0 1%;

    &__logo{
        grid-column: 1/span 1;
        padding-left: 5%;
        font-size: x-large;
    }
    &__nav{
        grid-column: 2 /span 1;

    }
    &__group{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 5%;

    }
    &__group_input--menu{
        border-radius: 30px;
        width: 100%;
        
}
    &__group--item{
        text-decoration: none;
        grid-column: auto/span 1;
        text-align: center;
        
    }
}